.register-page {
  max-width: 480px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: sans-serif;
}

.register-title {
  text-align: center;
  font-size: 28px;
  color: #392b28;
  font-weight: 700;
  margin-bottom: 30px;
}

/* SECTION TITLES */
.section-title {
  font-size: 17px;
  font-weight: 700;
  color: #392b28;
  margin: 25px 0 15px 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

/* LABELS */
label {
  display: block;
  margin-top: 12px;
  margin-bottom: 4px;
  color: #3a3a3a;
  font-size: 14px;
  font-weight: 600;
}

/* INPUTS */
input,
select {
  width: 100%;
  padding: 13px;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  background: #ffffff;
  font-size: 15px;
  color: #000;
}

input::placeholder {
  color: #8b8b8b;
}

/* ROWS (2 COLUMNS) */
.row {
  display: flex;
  gap: 15px;
}

.col {
  flex: 1;
}

/* BUTTON */
.btn-register {
  width: 100%;
  padding: 14px;
  margin-top: 35px;
  font-size: 16px;
  font-weight: 600;
  background: #0012ff; /* azul Bembos */
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.btn-register:hover {
  background: #0010d6;
}

/* MOBILE */
@media (max-width: 480px) {
  .row {
    flex-direction: column;
  }
}
