.container {
  padding: 2rem;
  text-align: center;
  color: #222;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.4rem;
  font-weight: 800;
  margin-top: 3rem;
}

p {
  font-size: 1.1rem;
  opacity: 0.8;
  margin-top: 0.5rem;
}

.button {
  background: #0000c8;
  color: white;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 2rem;
  font-weight: 700;
  transition: transform 0.15s, opacity 0.2s;
}

.button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}


.role-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}