/* ======== LAYOUT GENERAL ======== */

.login-page {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.login-left,
.login-right {
  flex: 1;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.login-center {
  flex: 1;
  padding: 50px 60px;
  display: flex;
  justify-content: center;   /* centra horizontal */
  align-items: center;
  background: #ffffff;
}

.login-left {
  background: #ffffff;
}

.login-right {
  background: #f9f9f9;
  border-left: 2px solid #ebebeb;
}


/* ======== LOGIN CARD ======== */

.login-card {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.login-title {
  font-size: 34px;
  font-weight: 700;
  color: #392b28;
  text-align: center;
  margin-bottom: 15px;
}

/* LABELS */
.login-card label {
  font-size: 15px;
  font-weight: 600;
  color: #000000;
}

/* INPUTS */
.login-card input {
  width: 100%;
  padding: 14px;
  background: #ffffff;
  border: 1px solid #d8e2ff;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: all 0.2s ease;
  color: #000000
}

.login-card input:focus {
  background: #edf4ff;
  border-color: #90a8ff;
}

/* PASSWORD FIELD */
.password-container {
  position: relative;
}

.toggle-pass {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  font-size: 18px;
  opacity: 0.7;
}

.toggle-pass:hover {
  opacity: 1;
}

/* BUTTON LOGIN */
.btn-login {
  padding: 14px;
  background: #0000c8;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.2s ease;
}

.btn-login:hover {
  background: #0010d6;
}


/* ======== CREATE ACCOUNT DETAIL ======== */

.create-account-container {
  width: 100%;
  max-width: 420px;
}

.create-title {
  font-size: 34px;
  font-weight: 700;
  color: #392b28;
  text-align: center;
  margin-bottom: 20px;
}

.description {
  font-size: 15px;
  margin-bottom: 10px;
  color: #333;
}

.benefits {
  margin-left: 20px;
  margin-bottom: 30px;
  line-height: 1.6;
  color: #393939;
}

.benefits li {
  font-size: 15px;
}

/* BUTTON CREATE */
.btn-create {
  padding: 14px;
  background: #0000c8;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
  width: 100%;
  cursor: pointer;
  border: none;
  transition: background 0.2s ease;
}

.btn-create:hover {
  background: #0010d6;
}


/* ======== RESPONSIVE ======== */

@media (max-width: 900px) {
  .login-page {
    flex-direction: column;
    padding: 20px;
  }

  .login-left,
  .login-right {
    padding: 30px 20px;
    border: none;
  }

  .login-right {
    background: white;
  }
}
